<app-page>
	<div id="page-wrapper">
		<br>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form (submit)="tweet(msg)">
							<div class="input-group">
								<input [(ngModel)]="msg" name="msg" [disabled]="!isLogged()" required placeholder="Your awesome tweet..." type="text" class="form-control" aria-label="...">
								<div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" [disabled]="!isLogged()">Tweet!</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- /.col-lg-12 -->
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						📜 Timeline
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!tweets"></app-loading>

						<div *ngFor="let tweet of tweets; let i = index; let odd = odd; let even = even" [ngClass]="{ odd: odd, even: even}" class="messaging center-block">
							<div class="row">
								<div class="col-xs-8 col-md-6">
									<img [src]="'https://api.adorable.io/avatars/102/' + tweet.actor + '@adorable.png'" class="message-photo">
									<h4 class="message-name"><a routerLink="/tweets/{{tweet.actor}}">{{tweet.actor}}</a></h4>
								</div>
								<div class="col-xs-4 col-md-6 text-right message-date">
									<a [href]="'https://eostracker.io/actions/' + tweet.id" target="_blank">⛓</a>
									⏱ {{tweet.created_at  * 1000 | date:'medium'}}
								</div>
							</div>
							<div class="row message-text">
								{{tweet.msg}}
							</div>
						</div>

					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
		</div>

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->


	<div class="modal fade" id="errorTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Error tweetin'</h4>
				</div>
				<div class="modal-body">
					Unable to send tweet.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="loadingTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="loadingTransferLabel">Inserting Tweet...</h4>
				</div>
				<div class="modal-body">
					Unable to send tweet.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


</app-page>
