.message-candidate {
    background: rgba(229, 167, 132, 0.9);
    padding: 40px;
    max-width: 600px;
    margin-bottom: 10px;
}

.message-hiring-manager {
    background: rgba(179, 186, 204, 0.9);
    padding: 40px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messaging {
    max-width: 600px;
    margin-top: 20px;
}

.message-text {
    margin-top: 10px;
}

.message-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.message-name {
    margin-left: 10px;
    display: inline-block;
}