<app-page>
	<div id="page-wrapper">
		<br>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body alert alert-info">
					Decentwitter is migrating to <a target="_blank" href="https://app.nebulaprotocol.com/">Nebula Protocol</a>. Please join the BETA! :).
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form (submit)="tweet(msg)" *ngIf="!replyId">
							<div class="input-group">
								<input [(ngModel)]="msg" name="msg" [disabled]="!isLogged() || sending" required placeholder="Your awesome tweet..." type="text" class="form-control" aria-label="...">
								<div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" [disabled]="!isLogged() || sending">Tweet!</button>
								</div>
							</div>
						</form>
						<div *ngIf="replyId" style="text-align: right; margin-bottom: 10px;"><a href="#" (click)="this.replyId = null;"><i class="fa fa-remove"></i> Close Reply</a></div>
						<form (submit)="reply(replyId, msg)" *ngIf="replyId">
							<div class="input-group">
								<input [(ngModel)]="msg" name="msg" [disabled]="!isLogged() || sending" required placeholder="Your awesome reply..." type="text" class="form-control" aria-label="...">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit" [disabled]="!isLogged() || sending">Reply!</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- /.col-lg-12 -->
			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						📜 Latest Tweets
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!tweets"></app-loading>

						<ul class="chat" infiniteScroll
						    [infiniteScrollDistance]="2"
						    [infiniteScrollThrottle]="50"
						    (scrolled)="onScroll()"
						>
							<li class="left clearfix" *ngFor="let tweet of tweets; let i = index; let odd = odd; let even = even" [ngClass]="{ odd: odd, even: even}">
                                    <span class="chat-img pull-left">
                                        <img [src]="'//api.eostracker.io/tweets/'+ tweet.actor +'/avatar.png'" class="img-circle avatar" />
                                    </span>
								<div class="chat-body clearfix">
									<div class="header">
										<strong class="primary-font"><a routerLink="/{{tweet.actor}}">{{tweet.actor}}</a></strong>
										<small class="pull-right text-muted">
											<a [href]="'https://eostracker.io/search?q=' + tweet.transaction_id" target="_blank"><i class="fa fa-link"></i></a>
											<i class="fa fa-clock-o fa-fw"></i> {{tweet.created_at  * 1000 | date:'short'}}
										</small>
									</div>
									<p [innerHTML]="tweet.msg | truncate | parse"></p>
									<div class="tweet-actions">
										<a href="#" (click)="setReply(tweet.transaction_id, tweet.seq)"><i class="fa fa-reply"></i> Reply</a>
										<a style="margin-left: 25px;" href="#" (click)="like(tweet.transaction_id, tweet.seq)"><i class="fa fa-thumbs-up"></i> Like</a>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>

			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						📊 <b>Stats</b>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!stats"></app-loading>
						<div class="flot-chart" align="center">
							<div class="flot-chart-content" id="flot-pie-chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->


	<div class="modal fade" id="errorTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Error tweetin'</h4>
				</div>
				<div class="modal-body">
					Unable to send tweet.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="loadingTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="loadingTransferLabel">🚀 Inserting Tweet...</h4>
				</div>
				<div class="modal-body">
					<app-loading *ngIf="!tweetAdded"></app-loading>
					<div *ngIf="tweetAdded" align="center" style="color: rgba(0,185,12,0.77)">
						<i class="fa fa-check-circle" style="font-size: 70px;"></i><br />
						Tweet added!
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


</app-page>
