<app-page>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{name}} Tweet's</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form (submit)="tweet(msg)">
              <div class="input-group">
                <input [(ngModel)]="msg" name="msg" required placeholder="Your awesome tweet..." type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">Tweet!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- /.col-lg-12 -->
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Tweets
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <app-loading *ngIf="!tweets"></app-loading>
            <div *ngIf="tweets" class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Msg</th>
                  <th>DateTime</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tweet of tweets">
                  <td>{{tweet.msg}}</td>
                  <td>{{tweet.created_at}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-6 -->
    </div>

    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->


  <div class="modal fade" id="errorTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Error tweetin'</h4>
        </div>
        <div class="modal-body">
          Unable to send tweet.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</app-page>
