<app-page>
  <div id="page-wrapper">
    <br>

    <div class="row" *ngIf="!isLogged()">
      <div class="col-lg-12">
        <div class="panel-body alert alert-info">
          <i class="fa fa-info-circle"></i> In order to tweet you must have installed and logged in <a target="_blank" href="https://scatter-eos.com">Scatter</a>
          or use command line:
          <code>cleos push action decentwitter tweet '["your tweet"]' -p your_account</code>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form (submit)="tweet(msg)">
              <div class="input-group">
                <input [(ngModel)]="msg" [disabled]="!isLogged()" name="msg" required placeholder="Your awesome tweet..." type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" [disabled]="!isLogged()">Tweet!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            🗄 <b>Profile</b>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <app-loading *ngIf="!name"></app-loading>
            <div align="center" *ngIf="name">
              <img [src]="'//api.eostracker.io/tweets/'+ name +'/avatar.png'" class="img-circle avatar" />
              <br />
              <br />
              <div><b>{{name}}</b></div>
              <br />
              <div *ngIf="isOwnerAccount()"><button disabled>Change Avatar (in progress)</button></div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            📊 <b>Stats</b>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <app-loading *ngIf="!stats"></app-loading>
            <div class="flot-chart" align="center">
              <div class="flot-chart-content" id="flot-pie-chart"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            👤 {{name}} <b>Timeline <a [href]="'https://eostracker.io/accounts/' + name" target="_blank"><i class="fa fa-link"></i></a></b>

          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <app-loading *ngIf="!tweets"></app-loading>
            <ul class="chat" infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()"
            >
              <li class="left clearfix" *ngFor="let tweet of tweets; let i = index; let odd = odd; let even = even" [ngClass]="{ odd: odd, even: even}">
                <span class="chat-img pull-left">
                    <img [src]="'//api.eostracker.io/tweets/'+ tweet.actor +'/avatar.png'" class="img-circle avatar" />
                </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font"><a routerLink="/{{tweet.actor}}">{{tweet.actor}}</a></strong>
                    <small class="pull-right text-muted">
                      <a [href]="'https://eostracker.io/actions/' + tweet.id" target="_blank"><i class="fa fa-link"></i></a>
                      <i class="fa fa-clock-o fa-fw"></i> {{tweet.created_at  * 1000 | date:'short'}}
                    </small>
                  </div>
                  <p>{{tweet.msg | truncate | parse}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /#page-wrapper -->


  <div class="modal fade" id="errorTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Error tweetin'</h4>
        </div>
        <div class="modal-body">
          Unable to send tweet.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loadingTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="loadingTransferLabel">🚀 Inserting Tweet...</h4>
        </div>
        <div class="modal-body">
          <app-loading *ngIf="!tweetAdded"></app-loading>
          <div *ngIf="tweetAdded" align="center" style="color: rgba(0,185,12,0.77)">
            <i class="fa fa-check-circle" style="font-size: 70px;"></i><br />
            Tweet added!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</app-page>
